@charset "utf-8";
/* CSS Document */
.center {
  margin: auto;
  width: 50%;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.logo {
  font-size: 100px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
	text-align: center
}

h2 {
	text-align: center;
}

h3 {
  text-align: center;
}

button {
  cursor: pointer;
}

body {
  background-color: white;
}

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* selected link */
a:active {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.dropbtn {
  background-color: #ffffff;
  color: black;
  padding: 16px;
  font-size: 16px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.home-images {
  display: inline-block;
}


.headings {
  text-align: left;
  padding-left: 6%;
}

.similar-text {
  text-align: left;
  padding-left: 25%;
}
.similar-items {
  display:flex;
  flex-direction: column;
  padding: 1%;
  margin-left: 300px;
}

.test {
  width:auto;
  margin: auto;
  margin-left: 30px;
  }

div.test {
  width:auto;
  margin: auto;
  margin-left: 30px;
  }
  
  div.block {
  float: left;
  }
  
  div.block a{
  display:inline-block; 
  margin-left: 15px;
  }
  

 .text-right {
  display:flex;
  flex-direction: row;
 }

 .wrapper-main {
  width:1000px;
  margin: 0 auto;
 }

 .item-desc-flex {
  display: flex;
  justify-content: left;
  align-items: left;
  column-gap: 60px;
 }

 .buttons {
  position:relative;
  bottom: -112px;
  left: -350px;
  display:inline;
  margin: auto;
  display:flex;
  padding: 10px 10px;
 }

 .button-listing {
  margin-right: 5%;
 }

div.scroll-container {
  margin: auto;
  width: 50%;
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin: auto;
  width: 50%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.review {
  margin: auto;
  height:50px;
  width: 50%;
  border-width: 3px;
  border-color: black;
  border-style: solid;
}

.sale_items {
  margin: auto;
  width: 75%;
}

.single_sale_item {
  display: inline-block;
  padding: 20px;
}

.text-review {
  display: inline-block;
  text-align: left;
  margin: 0% 0% 20% 21%;
  width: 500px;
  height: 50px;
 }

 .similar-item-indent {
  margin-left: 22%;
}

.blocks {
display: block;
}

.centered {
  max-width: fit-content;
  margin-left: 16%;
 }


 .button-seller {
  margin: 10px 8px;
  display: inline;
 }

 p {
  font-family: 'Helvetica';
  font-size: medium;
  font-weight: bold;
 }